# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
env.sh
# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
bin/golisp

src/launchpad.net/
src/github.com/SteelSeries/bufrr/
src/gopkg.in/check.v1/
src/gopkg.in/fatih/set.v0/

*.aux

*.log

*.toc

*.bbl

*.blg

*.bib

.DS_Store

golisp_history

cover.out
.history

.golisp_history
golisp
*.out
docs/auto
*~
*.scmc
